.chart{
margin:20px;
}

.analytics-container{
    flex: 4;
    width: 70%;
    background-color: #fff;
    display:flex;
}

analytics-item{
    flex-direction: row;

}

.pet{
    flex:1;
    padding-left: 20px;
    
}